#page{
    display: flex;
    height: 600px;
    width:100%;
    background: rgb(251, 254, 255);
}
a{
    text-decoration: none;
}
#page #left{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-image: url("8759affd91120c1.jpg");
}
#page #left #up{
    padding-top: 60px;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color:wheat;
    opacity: .8;
}
#page #left #up #ans{
    display: flex;
    justify-content: space-evenly;
}
#page #left #down{
    padding-bottom:60px; 
    display: flex;
    justify-content: space-between;
    height: 30%;
    background-color:wheat;
    opacity: .8;
}
a,span{
    color: white;
}
#page #right{
    border-left: 2px solid grey;
    width: 20%;
    background-color: steelblue;
}
button{
    /* display: block;
    cursor: pointer;
    margin:50px;
    width:max-content;
    height: max-content;
    padding: 10px 15px 10px 15px;
    border-radius: 30%;
    color:white;
    font-size: 400; */
    font-size: 1.6rem;
    padding-top:1.5rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    background-size: 200% auto;
    border-radius: 30px;
    color: white;
    display: block;
        border:2px solid #6f42c1;
        background-color:#6610f2;
        
}
button:hover
        {
            background-color:black;
            border-color: #007bff;
        }
#back{
    /* background-color: rgb(78, 199, 255); */
}
#next{
    /* background-color: rgb(78, 199, 255); */
}
#skip{
    /* background-color: rgb(78, 199, 255); */
}
#question{
padding: 0 50px 0 50px;
margin-bottom: 100px;
}
#login-form{
    /* display: none; */
    display: flex;
    align-items: column;
    z-index: 1;
    background-color: white;
    margin-top: 40px;
    width: 400px;
    height: 200px;
    opacity: 1;
    position: relative;
}
.textCont{
    margin:20px;
}

button{
display:block;
    cursor: pointer;
    margin:20px;
    width:max-content;
    height: max-content;
    padding: 10px;
    border-radius: 30%;
    align-self: flex-end;
    color: white;
    background-color: royalblue;
}
#save-changes{
    background-color: #007bff;
}
#close{
    background-color: #6c757d;
}
#try-Modal{
    background-color: lighten(blue);
}
#parent{
    position: absolute;
    top:0;
    left:0;
    justify-content: center;
    width:100%;
    height: 100%;
    background-color: #212529;
    opacity: .8;
    z-index: 1;
}
#resultPage{
    display: none;
    width: 500px;
    height: 600px;
    background-color: #212529;
    opacity: .8;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}
#resultPage #top{
    width:max-content;
    height: 20%;
    align-self: center;
    color:green;
}
#grade{
    font-size: -webkit-xxx-large;
}
#resultPage #bottom{
    color: green;
    width: max-content;
    align-self: center;
}
#result{
    font-size: -webkit-xxx-large;
}
.imgcontainer{
    text-align: center;
    /* margin: 24px 0 12px 0; */
    width: 200px;
    border-radius: 50%;
}
img.avatar{
    width: 40%;
    border-radius: 50%;
}
.container{
    display: flex;
    width: 40%;
    flex-direction: column;
}
.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 1000px;
    height: 500px;
    background-color: #aecdec;
}